---
granule: CREC-1998-02-11-pt1-PgE153-2
date: 1998-02-11
edition: CREC
section: EXTENSIONS
page: E153
citation: 144 Cong. Rec. E153
---

# IN OPPOSITION TO H.R. 1428, THE VOTER ELIGIBILITY VERIFICATION ACT

**Speaking:** Stokes, Louis (S000948) [D-OH]

**Measures:** H.R. 1428

```
   IN OPPOSITION TO H.R. 1428, THE VOTER ELIGIBILITY VERIFICATION ACT

                                 ______
                                 

                           HON. LOUIS STOKES

                                of ohio

                    in the house of representatives

                      Wednesday, February 11, 1998

  Mr. STOKES. Mr. Speaker, I rise in strong opposition to H.R. 1428, 
the voter eligibility verification act. This bill is unnecessary. This 
measure is based on the unsubstantiated premise that registration and 
voting by noncitizens in this country is a major problem that cannot be 
successfully addressed under current federal and state laws.
  Under current law, the INS is already required to cooperate with 
election officials in investigations of voter registration and vote 
fraud.
  This bill undermines the voting rights act of 1965 by placing the 
final determination of voter eligibility back into the hands of state 
and local election officials bypassing the protection of the voting 
rights act.
  This bill also weakens the protections of the privacy act by exposing 
citizens' social security numbers.
  This bill will not work. There are no federal lists of citizens, 
particularly of citizens who are born in this country. Two federal 
agencies, the Social Security Administration and the Justice Department 
argued against this proposal last year before the Judiciary 
Subcommittee on immigration and claims. The Social Security 
Administration stated that ``it is unable to confirm citizenship.'' The 
Justice Department stated that the INS ``cannot systematically use its 
automated databases to confirm whether an individual is a citizen.''
  This bill will discourage, not encourage voter participation. Very 
few citizens can produce their birth certificates in a few hours or 
days and replacement takes weeks and costs a fee. H.R. 1428 would 
subject citizens, especially first-time voters, or established voters 
who move, to inconvenience which will easily deter participation.
  We need to encourage, foster increased voter participation. Members 
of this distinguished House know the importance of each vote. We have, 
since the civil rights struggles began, worked to eliminate barriers to 
voting, not to erect new ones to meet phantom problems. I urge my 
colleagues to join me and defeat this bill.

                          ____________________
```
